In [1]:
import numpy as np
import pandas as pd

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

### Import Dataset

In [2]:
df = pd.read_csv('../input/melbourne-housing-snapshot/melb_data.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

**Data Information**

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

**Data Statistics**

In [4]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [5]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

**Features and Target**

In [6]:
df = df[["Rooms", 
         "Distance", 
         "Bedroom2", 
         "Bathroom", 
         "Car", 
         "Landsize", 
         "BuildingArea", 
         "YearBuilt",
         "Lattitude",
         "Longtitude",
         "Price"]]

In [7]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6830 entries, 1 to 13579
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rooms         6830 non-null   int64
 1   Distance      6830 non-null   float64
 2   Bedroom2      6830 non-null   float64
 3   Bathroom      6830 non-null   float64
 4   Car           6830 non-null   float64
 5   Landsize      6830 non-null   float64
 6   BuildingArea  6830 non-null   float64
 7   YearBuilt     6830 non-null   float64
 8   Lattitude     6830 non-null   float64
 9   Longtitude    6830 non-null   float64
 10  Price         6830 non-null   float64
dtypes: float64(10), int64(1)
memory usage: 640.3 KB

In [8]:
# Features
X = df[df.columns.drop("Price")]

# Target
y = df["Price"]

### Decision Tree Regression

In [9]:
dtr = DecisionTreeRegressor(random_state = 6830)

dtr.fit(X, y)

pred_dtr = dtr.predict(X)

pd.DataFrame({"Actual": y,
              "Peredicted": pred_dtr}).sample(10)

          Actual  Peredicted
12652  1900000.0   1900000.0
11079  1570000.0   1570000.0
7321    640000.0    640000.0
4072    550000.0    550000.0
7550   1000000.0   1000000.0
11925   640000.0    640000.0
949    1020000.0   1020000.0
878    1690000.0   1690000.0
4645    590000.0    590000.0
131    1830000.0   1830000.0

**Mean Absolute Error**

In [10]:
mae = mean_absolute_error(y, pred_dtr)
mae

392.31332357247436

### Model Validation

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size = 0.2,
                                                    random_state = 600)

In [12]:
dtr.fit(X_train, y_train)

pred_dtr_t = dtr.predict(X_test)

pd.DataFrame({"Actual": y_test,
             "Predicted": pred_dtr_t}).sample(10)

          Actual  Predicted
1561   1650000.0  1725000.0
7651    910000.0   910000.0
12098   910000.0  1210000.0
12993   931000.0   709000.0
6621    936000.0   915000.0
10596   386000.0   460000.0
11800   460000.0   360000.0
5219    420000.0   270000.0
712    2435000.0  1620000.0
11876   580000.0   600000.0

**Mean Absolute Error (Validation)**

In [13]:
mae_t = mean_absolute_error(y_test, pred_dtr_t)
mae_t

232676.47218155197

### Underfitting and Overfitting

In [14]:
mln = []

for x in [5, 25, 50, 100, 250, 500]:
    dt = DecisionTreeRegressor(max_leaf_nodes = x, random_state = 420)
    dt.fit(X_train, y_train)
    pred_dt = dt.predict(X_test)
    mae_ = mean_absolute_error(y_test, pred_dt)
    mln.append(mae_)    
mln

[327535.47287957754,
 245063.0555114401,
 237252.0108789654,
 225969.12750214303,
 218882.16819337526,
 218934.63550640174]

### Random Forest

In [15]:
rf = RandomForestRegressor(random_state = 313)

rf.fit(X_train, y_train)

pred_rf = rf.predict(X_test)

pd.DataFrame({"Actual": y_test,
              "Predicted": pred_rf}).sample(10)

          Actual     Predicted
10741   373500.0  4.119550e+05
2286    510000.0  5.613034e+05
5025    840000.0  9.094050e+05
6563    580000.0  6.034850e+05
1666   3145000.0  2.898065e+06
5297   1275000.0  1.631252e+06
8747   1731000.0  1.768410e+06
10885  1225000.0  8.525050e+05
5785    616000.0  1.026865e+06
10563   595000.0  9.197650e+05

**mean absolute error (random forest)**

In [16]:
mae_rf = mean_absolute_error(y_test, pred_rf)
mae_rf

159333.66556857

**Mean absolute error by using DECISION TREE is above 20 thousand but by using RANDOM FOREST is approximately 16 tousand**